$SO_Orange_Neon: #F03C3C;
$SO_Orange_Lite: #FF6E33;
$SO_Black: #000816;
$SO_Blue_Light: #1FDAF0;
$SO_Grey: #383838;
$SO_Grey_Dark: #171717;
$SO_White: #F5F5F5;

@import "module-recent-article";
@import "module-bloc-contact";